.display--none {
    display: none;
}

.display--block {
    display: block;
}

.display--inline {
    display: inline;
}

.display--inline-block {
    display: inline-block;
}

.display--flex {
    display: flex;
}

.display--inline-flex {
    display: inline-flex;
}

.flex-direction--row {
    flex-direction: row;
}

.flex-direction--column {
    flex-direction: column;
}

.justify-content--center {
    justify-content: center;
}

.justify-content--space-around {
    justify-content: space-around;
}

.justify-content--space-between {
    justify-content: space-between;
}

.align-items--center {
    align-items: center;
}

.align-items--flex-start {
    align-items: flex-start;
}

.align-items--flex-end {
    align-items: flex-end;
}

.align-items--baseline {
    align-items: baseline;
}

.align-items--stretch {
    align-items: stretch;
}

.justify-content--flex-start {
    justify-content: flex-start;
}

.justify-content--flex-end {
    justify-content: flex-end;
}

.justify-content--space-between {
    justify-content: space-between;
}

.justify-content--space-around {
    justify-content: space-around;
}

.justify-content--space-evenly {
    justify-content: space-evenly;
}

.list-style--none {
    list-style: none;
}

.text-align--center {
    text-align: center;
}

.text-align--left {
    text-align: left;
}

.text-align--right {
    text-align: right;
}

.text-align--justify {
    text-align: justify;
}

.text-decoration--none {
    text-decoration: none;
}

.text-decoration--underline {
    text-decoration: underline;
}

.text-decoration--line-through {
    text-decoration: line-through;
}

.text-decoration--overline {
    text-decoration: overline;
}

.text-transform--uppercase {
    text-transform: uppercase;
}

.text-transform--lowercase {
    text-transform: lowercase;
}

.text-transform--capitalize {
    text-transform: capitalize;
}

.text-transform--none {
    text-transform: none;
}

/* font weight */
.font-weight--normal {
    font-weight: normal;
}

.font-weight--thin,
.font-weight--100 {
    font-weight: 100;
}

.font-weight--extra-light,
.font-weight--200 {
    font-weight: 200;
}

.font-weight--light,
.font-weight--300 {
    font-weight: 300;
}

.font-weight--regular,
.font-weight--400 {
    font-weight: 400;
}

.font-weight--medium,
.font-weight--500 {
    font-weight: 500;
}

.font-weight--semi-bold,
.font-weight--600 {
    font-weight: 600;
}

.font-weight--bold,
.font-weight--700 {
    font-weight: 700;
}

.font-weight--extra-bold,
.font-weight--800 {
    font-weight: 800;
}

.font-weight--strong,
.font-weight--900 {
    font-weight: 900;
}

.font-style--normal {
    font-style: normal;
}

.font-style--italic {
    font-style: italic;
}

.font-style--unset {
    font-style: unset;
}

.font-style--oblique {
    font-style: oblique;
}

.font-optical-sizing--auto {
    font-optical-sizing: auto;
}

.font-optical-sizing--none {
    font-optical-sizing: none;
}


.flex-wrap--wrap {
    flex-wrap: wrap;
}

.flex-wrap--wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-wrap--nowrap {
    flex-wrap: nowrap;
}

.flex-basis--auto {
    flex-basis: auto;
}

.border-style--solid,
.--solid {
    border-style: solid;
}

.border-style--dashed,
.--dashed {
    border-style: dashed;
}

.border-style--dotted,
.--dotted {
    border-style: dotted;
}

.border-style--double,
.--double {
    border-style: double;
}

.border--none,
.--none {
    border: none;
}

.border-top-style--solid {
    border-top-style: solid;
}

.border-right-style--solid {
    border-right-style: solid;
}

.border-bottom-style--solid {
    border-bottom-style: solid;
}

.color--transparent {
    color: transparent;
}