/**
 * *************************************************************************
 * Name: style.css
 * Description: CSS for the main site www.rochekollie.com
 * Author: Roche Kollie (@rochekollie)
 * Website: www.rochekollie.com
 * Email: hello@rochekollie.com
 * License: GNU General Public License v3.0
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 *
 *
 ***************************************************************************
 *
 *                            G L O B A L      S T Y L E S
 *
 * *************************************************************************
 *
 * @format
 */

:root {
	/* Dark Colors */
	--dark-100: #888;
	--dark-200: #777;
	--dark-300: #666;
	--dark-400: #555;
	--dark-500: #444;
	--dark-600: #333;
	--dark-700: #222;
	--dark-800: #111;
	--dark-900: #000;

	/* Light Colors */
	--light-100: #fff;
	--light-200: #fafafa;
	--light-300: #f5f5f5;
	--light-400: #f0f0f0;
	--light-500: #eee;
	--light-600: #e0e0e0;
	--light-700: #e6e6e6;
	--light-800: #999;
	--light-900: #b3b3b3;

	/* Grey Colors */
	--grey-100: rgb(230, 230, 230);
	--grey-200: rgb(220, 220, 220);
	--grey-300: rgb(200, 200, 200);
	--grey-400: rgb(180, 180, 180);
	--grey-500: rgb(150, 150, 150);
	--grey-600: rgb(120, 120, 120);
	--grey-700: rgb(100, 100, 100);
	--grey-800: rgb(80, 80, 80);
	--grey-900: rgb(60, 60, 60);

	/* Accent Colors */
	--accent-100: #42a5f5;
	--accent-200: #2196f3;
	--accent-300: #0080ff;
	--accent-400: #0071e3;
	--accent-500: #1565c0;
	--accent-600: #0060e3;
	--accent-700: #004ecb;
	--accent-800: #0040a8;
	--accent-900: #003075;

	/* Color Theme Swatches in Hex */
	--theme-1-hex: #049dbf;
	--theme-2-hex: #3fbfbf;
	--theme-3-hex: #8dbf41;
	--theme-4-hex: #cad959;
	--theme-5-hex: #f2ac29;

	/* Color Theme Swatches in RGBA */
	--theme-1-rgba: rgba(4, 157, 191, 1);
	--theme-2-rgba: rgba(63, 191, 191, 1);
	--theme-3-rgba: rgba(141, 191, 65, 1);
	--theme-4-rgba: rgba(202, 217, 89, 1);
	--theme-5-rgba: rgba(242, 172, 41, 1);

	/* Color Theme Swatches in HSLA */
	--theme-1-hsla: hsla(190, 95, 38, 1);
	--theme-2-hsla: hsla(180, 50, 49, 1);
	--theme-3-hsla: hsla(83, 49, 50, 1);
	--theme-4-hsla: hsla(67, 62, 60, 1);
	--theme-5-hsla: hsla(39, 88, 55, 1);
}

/* *************************************************************************** /

                           M A I N     S T Y L E S H E E T

************************************************************************* */

html {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Inter', sans-serif;
	/* font-size: clamp(1rem, 1vw, 2.5rem); */
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--dark-900);
	background-color: var(--grey-100);
}

header {
	margin: 0;
	padding: 0 1em;
	width: 100%;
	height: 48px;
	background-color: var(--dark-600);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
}

header,
header a,
header a:visited,
header ul li,
header ul li:visited,
header ul li a,
header ul li a:visited {
	color: var(--light-800);
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

header a:hover,
header ul li:hover,
header ul li a:hover {
	color: var(--light-100);
}

#logo-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#logo-wrapper img {
	width: 35px;
	height: 30px;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	opacity: 50%;
	object-fit: contain;
}

#site-title {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 1rem;
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}

#logo-wrapper:hover#logo-wrapper img {
	opacity: 100%;
}

#logo-wrapper:hover #site-title {
	color: var(--light-100);
}

.html-entities {
	font-weight: 300;
	color: var(--light-900);
	margin-left: -0.2rem;
	padding: 0;
}

.material-icons {
	cursor: pointer;
	pointer-events: all;
	font-family: 'Material Icons', serif;
	font-weight: normal;
	font-style: normal;
	font-size: 36px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;

	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

	color: var(--light-800);
}

.material-icons:hover {
	display: inline-block;
}

.nav-items {
	background-color: inherit;
	box-shadow: none;
	border: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#menu-icon:hover {
	color: var(--light-100);
}

.nav-items {
	display: none;
}

header nav:hover .nav-items {
	position: absolute;
	top: 30px;
	right: 0;
	display: flex;
	flex-direction: column-reverse;
}

.nav-items {
	width: 100%;
	min-height: calc(100% - 25px);
	background-color: var(--dark-600);
	/* border-radius: 1px 1px 0.25rem 0.25rem; */
	box-shadow: 0 0 rgba(0, 0, 0, 0.1);
	z-index: 1;
	margin-left: -1rem;
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.nav-items li {
	border-bottom: solid thin var(--grey-800);
	padding: 0 0 1rem 0;
	margin-right: 3em;
}

.nav-items li:first-child {
	border-bottom: none;
}

main {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
	width: 1000px;
	padding: 100px 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	margin: 0 auto;
	padding: 0;
	max-width: 70ch;
	background-color: #fff;
	padding: 100px 1rem;
	line-height: 2;
}

p {
	margin: 1rem 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--dark-900);
}

footer {
	width: 100%;
	height: 48px;
	background-color: #292929;
	color: #ffffff99;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	line-height: 1.5;
	color: var(--light-700);
}

footer p a, footer a:visited {
	color: var(--theme-5-hex);
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

footer p a:hover {
	color: var(--theme-5-hex);
}

/* *************************************************************************** /

                           M E D I A    Q U E R I E S

************************************************************************* */

@media only screen and (min-width: 769px) {
	header {
		justify-content: space-evenly;
	}

	.nav-items {
		border: solid 1px red;
		height: 100%;
		width: auto;
		padding: 0 1em;
		margin: 0;
	}

	header nav ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	header nav:hover .nav-items {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		top: 0;
		right: 0;
		width: 100%;
		margin: 0;
		gap: 0;
	}



	.nav-items li {
		border: none;
	}

	#menu-icon {
		display: none;
	}
}
