@import url('./utility.css');

:root {
    --Inter: 'Inter', sans-serif;
    --Martian: 'Martian Mono', monospace;
    --Montserrat: 'Montserrat', sans-serif;
    --Playfair: 'Playfair Display', serif;
    --Hubot: Hubot-Sans, sans-serif;
    --Mona: Mona-Sans, sans-serif;
    --footer-height: 100px;

    --color-primary: rgba(0, 0, 0, 0.5);
    /*--link-color: #00abb1;*/
    --link-color: #56a8f5;
    /*--accent-color: #3a787a;*/
    --accent-color: #1c73e8;
    --perano: #acccef;
    --dark: #1a1a1a;
    --dark-blue: #24292f;
    --link-normal: 0.7;
    --link-active: 1;
    --focus-color: #1a73e8;
    --transparent: #1fe0; /* <== fully transparent shorthand || longhand ==> #11ffee00; */
    --off-yellow-dark: #fefce899;
    --off-yellow-light: #fefce8;
    --chartreuse: #7fff00;
    --chartreuse-dark: #7fff0099;
    --crimson: #d01253;
    --heliotrope: #c05af2;
    --selective-yellow: #f7b500;
    --cornflower-blue: #56a8f5;
    --apple: #2cc740;
    --caribbean-green: #01CCAC;
    --caribbean-green-dark: #01CCAC99;

    /* heights */
    --hHeight: 100px;
    --fHeight: 100px;

    /* widths */
    --pageWidth: 1276px;
}

/*noinspection CssNoGenericFontName*/
body {
    margin: 0;
    padding: 0;
    width: 100;
    height: 100%;
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#daily-widget {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    #daily-page {
        height: 100%;
        display: none;
    }
}

#daily-background {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* z-index: -100; */
}

#page-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: var(--hHeight) calc(100vh - calc(var(--hHeight) + var(--fHeight))) var(--fHeight) / 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    /* border-bottom: solid 2px #141414; */
    /* box-shadow: 0 0.7rem 0.7rem rgb(0 0 0 / 30%); */
}

#site-branding-wrapper,
#site-navbar-wrapper,
#client-location-wrapper {
    height: 100%;
    width: 100%;
}

#site-navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-branding-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--caribbean-green);
    background-color: transparent;
    margin: 0;
    padding: 0;
    transition: 1s;
    transition-property: border-color;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 30%);
}

#site-title {
    margin: 0;
    padding: 0;
    font-family: var(--Martian);
    /*font-family: "JetBrains Mono", monospace;*/
    font-size: 1rem;
    color: var(--perano);
    opacity: var(--link-normal);
    /*text-transform: capitalize;*/
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
}

#site-title:hover {
    opacity: var(--link-active);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 5rem;
}

nav ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--link-color);
    /*opacity: var(--link-normal);*/
    /*margin-top: 10px;*/
    /*height: calc(100% - 10px);*/
    height: 100%;
    /*width: 20px;*/
    overflow-x: visible;
    /*padding: 0 1rem;*/
    /*border: solid 1px red;*/
    /*border-radius: 0 0 1rem 1rem;*/
}

header nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    opacity: var(--link-active);
    /*text-align: center;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8rem;
}

.active {
    /*font-weight: 700;*/
    /*color: var(--cornflower-blue);*/
    opacity: var(--link-active);
    border-bottom: solid 2px var(--caribbean-green);

    /* rounded bottom border straight line edge effect */
    border-radius: 0px;
}

#hire-me-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 200px;
    height: 30px;
    /*transition: all 0.3s ease-in-out;*/
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--caribbean-green);
    color: #000;
    border: solid 2px var(--caribbean-green);
    text-transform: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#hire-me-btn:hover {
    cursor: pointer;
    pointer-events: all;
    background-color: var(--caribbean-green-dark);
    border: solid 2px var(--caribbean-green-dark);
    forced-color-adjust: none;
    transition: all 0.3s ease-in-out;
    animation: pulse 1s;
}

#client-location-wrapper {
    width: 100%;
    height: auto;
    gap: .1rem;
    color: #fff;
    font-size: 20px;
}

/* make #time glassy or glasmorphism or like apple liquid glass */


#date-component, #time-component {
    font-family: var(--Inter);
    font-size: clamp(0.8rem, 1vw, 1rem);
}

#date-component, #weather-component {
    gap: 0.25rem;
}

#city {
    margin-left: .3rem; /* to align with previous p element  */
}

#quote-wrapper {
    font-family: var(--Inter);
    margin: 100px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#author-component, #time-component {
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff99;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 1rem;
}

#author-component {
    font-family: var(--Playfair);
}

main {
    /* scroll-snap-align: start; */
    /* scroll-snap-stop: always; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#main-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    overflow: hidden;
    font-family: var(--Inter);
    /* background-color: #0d1116; */
    background-color: transparent;
    /* color: var(--off-yellow-dark); */
}

#scroll-down-container {
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

#scroll-down-icon {
    padding: 0.5rem;
    width: auto;
    height: auto;
    fill: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scroll-up-and-down 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0.5;
    left: calc(50% - 16px);
    position: absolute;
    cursor: pointer;
    pointer-events: all;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    /* --h-padding: 23px;
    --v-padding: 9px; */
    /* padding: var(--v-padding) var(--h-padding) calc(var(--v-padding) + 1px); */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, var(--opacity-stop-2));
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-round);
    /* box-shadow: 0 0 12px #00000026; */
    fill: #fff;
    cursor: pointer;
    font-size: .9375rem;
    font-weight: 500;
    outline: none;
    transition: background-color .1s ease;
    gap: 5px;
}

#scroll-down-icon:hover {
    cursor: pointer;
    pointer-events: all;
    fill: rgba(255, 255, 255, 0.5);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-decoration: 0.1rem underline dashed #fff;
    --webkit-text-decoration: 0.1rem underline dashed #fff;
    transition: all 0.3s ease-in-out;
    animation-iteration-count: infinite;
}

a {
    display: inline-flex;
    flex-direction: row;
    color: var(--link-color);
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    /*opacity: var(--link-normal);*/
}

a:link,
a:visited {
    color: var(--link-active);
}

a:hover,
a:active,
a:focus {
    color: var(--accent-color);
}

p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

/* #################### Main Page  #################### */

button, .button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 250px;
    height: 50px;
    /*transition: all 0.3s ease-in-out;*/
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--accent-color);
    color: #fff;
    border: solid 2px var(--accent-color);
    text-transform: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);


    /*-ms-flex-line-pack: center;*/
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /*-ms-flex-item-align: start;*/
    -webkit-align-items: center;
    /*border: 1px solid transparent;*/
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    letter-spacing: .5px;
    line-height: 24px;
    margin: 8px 0;
    max-width: 380px;
    min-height: 48px;
    min-width: 96px;
    overflow: hidden;
    /*-webkit-transition: background-color .2s, color .2s, -webkit-box-shadow .2s;*/
    /*transition: background-color .2s, color .2s, -webkit-box-shadow .2s;*/
    /*-o-transition: background-color .2s, box-shadow .2s, color .2s;*/
    /*transition: background-color .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;*/
    /*vertical-align: middle;*/
}


button:hover, .button:hover, .skill .button:hover {
    cursor: pointer;
    pointer-events: all;
    background-color: var(--focus-color);
    color: #fff;
    border-radius: 4px;
    forced-color-adjust: none;
    /*display: inline;*/
    overflow: hidden;
    /*text-decoration: underline;*/
    /*-webkit-transition: background-color .2s,color .2s;*/
    /*-o-transition: background-color .2s,color .2s;*/
    /*transition: background-color .2s, color .2s;*/
    /*transition: background-color .2s, box-shadow .2s, color .2s;*/

    transition: all 0.3s ease-in-out;
    animation: pulse 1s;
}

.primary-button {
    /*color: var(--link-color);*/
    background-color: var(--focus-color);
    border: solid 2px var(--accent-color);
}

.secondary-button {
    color: var(--accent-color);
    /*background-color: hsl(18, 10%, 1%);*/
    background-color: transparent;
}


/*#cta-btn, button {*/
/*    font-family: var(--Inter);*/
/*    min-width: 160px;*/
/*    width: 300px;*/
/*    font-size: 1rem;*/
/*    transition: all 0.3s ease-in-out;*/
/*    -webkit-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    padding: 1rem 2rem;*/
/*    background-color: var(--accent-color);*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    border: solid 2px rgba(0, 0, 0, 0.1);*/
/*    text-align: center;*/
/*    text-transform: capitalize;*/
/*}*/

/*.secondary-button {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    width: auto;*/
/*    margin: 1rem auto;*/
/*}*/

/*.secondary-button:hover {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    transition: none;*/
/*    animation: none;*/
/*}*/

/*#cta-btn:hover,*/
/*#cta-btn:focus,*/
/*#cta-btn:active,*/
/*button:hover,*/
/*button:focus,*/
/*button:active {*/
/*    cursor: pointer;*/
/*    pointer-events: all;*/
/*    outline: none;*/
/*    background-color: #fff;*/
/*    color: var(--accent-color);*/
/*    transition: all 0.3s ease-in-out;*/
/*    animation: pulse 0.5s;*/
/*}*/

#main-page {
    font-family: var(--Hubot);
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    color: cadetblue;
}

#hero-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50rem;
    margin: 0;
    padding: 100px 0 300px 0;
    background-color: var(--dark-blue);
    clip-path: polygon(0% 0%, 100% 0%, 500% -100%, 0% 100%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    text-align: right;
}

#hero-wrapper .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    height: 500%;
    width: 100%;
}

#hero-wrapper .wrapper .heading-1 {
    font-family: var(--Hubot);
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1;
    font-weight: 700;
    color: var(--perano);
    display: inline-block;
    width: 25ch;
    margin: 1rem 0;
    text-align: left;
}

/*#hero-wrapper .wrapper .heading-2 {*/
/*    margin: 1.2rem 0;*/
/*    color: var(--accent-color);*/
/*}*/

#hero-wrapper svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    fill: var(--accent-color);
}

.cta-title {
    display: inline-block;
    font-family: var(--Hubot);
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 900;
    color: var(--perano);
    line-height: 1.2;
    margin: 0;
    text-align: left;
    width: 25ch;
}

.heading-2 {
    font-family: var(--Mona);
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    font-weight: 700;
    margin: 2rem auto;
    line-height: 1;
}

.heading-3 {
    /*noinspection CssNoGenericFontName*/
    font-family: var(--Mona);
    font-size: clamp(1.5rem, 1.5vw, 1.7rem);
    font-weight: 600;
    color: #000;
    line-height: 1;
    margin: 1rem auto 1.5rem auto;
}

#skills-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem 0;
    /*padding: 0 0 2rem 0;*/
    background-color: #fff;
}

#hearts {
    color: rgb(249, 28, 106);
}

#skills-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    width: 100%;
    gap: 1rem;
}

.skill {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    color: #000;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: min(400px, 100%);
    border: solid thin rgb(225, 225, 225);
    border-radius: 0.5rem;
    background-color: #f2f2f7;
}

/*.skill a {*/
/*    font-family: var(--Inter);*/
/*    font-weight: 600;*/
/*    color: var(--accent-color);*/
/*    line-height: 1.2;*/
/*    margin: 1rem 0 2rem 0;*/
/*    border: solid 2px var(--accent-color);*/
/*    border-radius: 0.5rem;*/
/*    padding: 0.5rem 1rem;*/
/*    text-transform: capitalize;*/
/*}*/

.skill:hover {
    /*border: solid 0.01rem var(--accent-color);*/
    /*transition: all 0.3s ease-in-out;*/
    /*animation: pulse 1s;*/
}


.skill p {
    flex-grow: 1;
    text-align: center;
}

#contact-wrapper {
    margin: 0;
    padding: 5rem 0;
    background-color: #f4f4f4;
}

#contact-wrapper .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-wrapper .wrapper .heading-2 {
    margin: 1.2rem 0;
    color: var(--accent-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 700px;
}

form p {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    text-align: left;
}

form input {
    margin: 0.5rem 0;
    padding: 1rem;
    width: 700px;
    font-size: 1.2rem;
}

form textarea {
    margin: 1rem 0;
    padding: 1rem;
    width: 700px;
    height: 300px;
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
    resize: none;
}

form input, form textarea {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    border: solid 0.07rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

form input:focus, form textarea:focus {
    outline: none;
    border: solid 3px var(--accent-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.filled {
    border: 4px solid var(--focus-color);
    font-weight: 500;
}

#projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem 10%;
    background-color: #fff;
    overflow: hidden; /* for testing */
}

#projects-wrapper h2 {
    text-align: center;
}

#skills-wrapper h2, #skills-wrapper h3 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: 7em 0;*/
}

.flex-container section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 1rem;
    margin: .5rem;
    cursor: pointer;
    border-radius: 12px;
    height: 400px;
    width: 300px;
}

.flex-container section:hover {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.1s ease-in-out;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.flex-container section h2 {
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.flex-container section h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.flex-container section p {
    margin: 0;
}

.flex-container .date {
    flex-grow: 1;
}

.flex-container .lang {
    margin: 0;
    font-size: clamp(12px, .3vw, 26px);
    border: solid thin rgba(0, 0, 0, 0.1);
    padding: .3em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}


/* spinning logo animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* reverse spinning logo animation */
@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scroll-up-and-down {
    100% {
        bottom: 50px;
    }

    0% {
        bottom: 10px;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes freeze {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes prompt-down {
    100% {
        bottom: 0;
    }

    0% {
        bottom: 10px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1231px) {
    .skill {
        flex-basis: min(600px, 100%);
    }
}


.screen {
    width: 100%;
    height: auto;
    padding: 1rem;
}

@media (min-width: 768px) {
    .screen {
        width: 100%;
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .screen {
        width: 100%;
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .screen {
        width: 100%;
        max-width: 1280px;
    }
}

@media (min-width: 1440px) {
    .screen {
        width: 100%;
        max-width: 1440px;
    }
}

@media (min-width: 1600px) {
    .screen {
        width: 100%;
        max-width: 1600px;
    }
}

@media (min-width: 1920px) {
    .screen {
        width: 100%;
        max-width: 1920px;
    }
}

@media (min-width: 2560px) {
    .screen {
        width: 100%;
        max-width: 2560px;
    }
}

@media (min-width: 3840px) {
    .screen {
        width: 100%;
        max-width: 3840px;
    }
}