body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1C1C1C;
	color: #F5F5F7;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: rgb(40,40,40);
	color: #F5F5F7;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 200px;
	overflow: hidden;
}

/* header a {
	color: #F5F5F7;
	position: relative;
	left: 0;
	margin-right: 200px;
	text-decoration: none;
	font-size: 2em;
	font-weight: 700;
} */

h1 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	border-bottom: solid thin rgb(17, 17, 17);
	color: #F5F5F7;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
  	justify-content: center;
	align-items: center;
	margin: 100px 0;
	overflow: hidden;
}

.show {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  	flex: 1 1 20%;
  	padding-bottom: 1em;
  	margin: .5em 0 .5em .5em;
}

.show-desc {
	overflow : hidden;
  	/* text-overflow: ellipsis; */
  	text-overflow: "Learn more";
  	display: -webkit-box;
  	-webkit-line-clamp: 7;
  	-webkit-box-orient: vertical;
	padding: 1px;
	margin-bottom: 50px;
}

.show img {
	width: 300px;
	height: 400px;
	margin-bottom: 20px;
	border-radius: 12px;
}

.show img:hover {
	box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.24);
	border: solid 4px #0071E3;
	border-radius: 12px;
	padding: 1px;
	cursor: pointer;
	pointer-events: all;
}

footer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #27282C;
	color: #c1cef7b3;
	width: 100%;
}

footer p {
	font-weight: bold;
}

#heart {
	display: inline-block;
}

footer:hover #heart {
	color: rgb(255, 0, 0);
	cursor: pointer;
}

a {
	color: #0071E3;
	text-decoration: none;
}

a:hover, h2:hover {
	color: #0080fffb;
}

h2 {
	font-size: 1.2em;
	font-weight: 900;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	color: #b9bac4;
}

button, .button {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
	line-height: 1.42857143;
	cursor: pointer;
	pointer-events: all;
	text-transform: capitalize;
	font-weight: 700;
    background-color: #0071E3;
	color: #FFF;
    padding: .4em 2em;
    border: solid thin rgba(0,0,0,.1);
    border-radius: .3em;
    text-shadow: 0 -.03em .03em rgba(0,0,0,.5);
    outline: none;
	margin-bottom: 50px;
}

button:hover, .button:hover {
	background-color: #0080fffb;
	color: #FFF;
}

@media screen and (max-width: 620px) {

	body {
		background-color: rgb(14, 13, 13);
	}

	h2 {
		color: #0080fffb;
	}

	main {
		margin-top: 3.3em;
	}
	.show {
		padding-top: 1em;
		background-color: #1C1C1C;
		border: solid thin rgba(0,0,0,.1);
		border-radius: .5em;
		margin: .2em .5em;
		box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.24);
	}

	.show:last-child {
		box-shadow: none;
	}

	.show-desc {
		text-align: center;
		padding: .5em .5em 0 .5em;
	}

	img {
		width: 320px;
		height: 420px;
		box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.24);
	}

	#heart {
		color: rgb(255, 0, 0);
	}
}
