/* spinning logo animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* reverse spinning logo animation */
@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scroll-up-and-down {
    100% {
        bottom: 50px;
    }

    0% {
        bottom: 10px;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes freeze {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes prompt-down {
    100% {
        bottom: 0;
    }

    0% {
        bottom: 10px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1231px) {
    .skill {
        flex-basis: min(600px, 100%);
    }
}