:root {
    --system-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --Aclonica: 'Aclonica', sans-serif;
    --Inter: 'Inter', sans-serif;
    --Martian: 'Martian Mono', monospace;
    --Montserrat: 'Montserrat', sans-serif;
    --Playfair: 'Playfair Display', serif;
    --Hubot: Hubot-Sans, sans-serif;
    --Mona: Mona-Sans, sans-serif;
    --footer-height: 100px;

    --color-primary: rgba(0, 0, 0, 0.5);
    /*--link-color: #00abb1;*/
    --link-color: #56a8f5;
    /*--accent-color: #3a787a;*/
    --accent-color: #1c73e8;
    --perano: #acccef;
    --dark: #1a1a1a;
    --dark-blue: #24292f;
    --link-normal: 0.7;
    --link-active: 1;
    --focus-color: #1a73e8;
    --transparent: #1fe0; /* <== fully transparent shorthand || longhand ==> #11ffee00; */
    --off-yellow-dark: #fefce899;
    --off-yellow-light: #fefce8;
    --chartreuse: #7fff00;
    --chartreuse-dark: #7fff0099;
    --crimson: #d01253;
    --heliotrope: #c05af2;
    --selective-yellow: #f7b500;
    --cornflower-blue: #56a8f5;
    --apple: #2cc740;
    --caribbean-green: #01CCAC;

    /* heights */
    --hHeight: 100px;
    --fHeight: 100px;

    /* widths */
    --pageWidth: 1276px;
}