@import url('ui.css');

:root {
    --Aclonica: 'Aclonica', sans-serif;
    --Inter: 'Inter', sans-serif;
    --Martian: 'Martian Mono', monospace;
    --Montserrat: 'Montserrat', sans-serif;
    --Playfair: 'Playfair Display', serif;
    --Hubot: Hubot-Sans, sans-serif;
    --Mona: Mona-Sans, sans-serif;
    --footer-height: 100px;

    --color-primary: rgba(0, 0, 0, 0.5);
    --link-color: #00abb1;
    --accent-color: #3a787a;
    --perano: #acccef;
    --dark: #1a1a1a;
    --dark-blue: #24292f;
    --link-normal: 0.7;
    --link-active: 1;
    --focus-color: #a2f4fa;
    --transparent: #1fe0; /* <== fully transparent short || fully transparent longhand ==> #11ffee00; */
    --off-yellow-dark: #fefce899;
    --off-yellow-light: #fefce8;
    --chartreuse: #7fff00;
    --chartreuse-dark: #7fff0099;

    /* heights */
    --hHeight: 100px;
    --fHeight: 100px;

    /* widths */
    --pageWidth: 1276px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background-color: #000;
}

a, a:link, a:visited {
    color: var(--link-color);
    font-family: var(--Inter);
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    opacity: var(--link-active);
}

p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.2;
    color: var(--dark);
}

#landing-page {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}


#landing-page:first-child { /* <== the first scroll-snap-wrapper */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    #landing-page {
        height: 100%;
        display: none;
        border: solid 1px red;
    }
}


.scroll-snap-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


#page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -100;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: var(--hHeight) calc(100vh - calc(var(--hHeight) + var(--fHeight))) var(--fHeight) / 100%;
}

header, main, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    overflow: hidden;
    transition: background-color 1s ease-in-out;
    background-color: var(--dark);
    box-shadow: 36px 36px 100px 0 rgba(0, 0, 0, 0.5);
    /*border: solid 1px red;*/
}

header:hover {
    /*background-color: var(--dark-blue);*/
    transition: background-color 0.5s ease-in-out;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 0;
}

header .wrapper > div, header .wrapper > nav {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    gap: 1rem;
    height: 100%;
    width: 100%;
    /*color: hsla(0, 0%, 100%, 0.7);*/
    font-weight: 600;
    text-transform: capitalize;
    /*border: solid 1px red;*/
}

#logo-wrapper {
    width: 15%;
    height: 100%;
}

#logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.01rem solid var(--perano);
    background-color: transparent;
    margin: 0;
    padding: 0;
    transition: 1s;
    transition-property: border-color;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 30%);
}

/* spinning logo animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* reverse spinning logo animation */
@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

#logo:hover {
    /*animation: spin 1s linear infinite;*/
}

.reverse-spin {
    /*animation: spin-reverse 1s linear;*/
}

#app-name {
    margin: 0;
    padding: 0;
    font-family: var(--Inter);
    font-size: 1rem;
    color: var(--perano);
    text-transform: capitalize;
    font-weight: 700;
    align-items: center;
    line-height: 1;
}

#navbar {
    width: 55%;
    height: 100%;
    /*border: solid 1px red;*/
}

#navbar ul li a {
    font-family: monospace;
    color: var(--link-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: .5;
    text-transform: lowercase;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: var(--link-color);
    opacity: var(--link-normal);
}

nav ul li .active, nav ul li a:active, .active {
    font-weight: 700;
    opacity: var(--link-active);
}

#whoami {
    color: var(--chartreuse-dark);
    font-family: monospace;
    margin-right: 0.2rem;
    font-weight: 500;
    font-size: smaller;
}

.nav-link-slash, .nav-link-dot {
    font-size: 1.2rem;
    opacity: .7;
    line-height: 2;
}

.nav-link-slash {
    color: var(--off-yellow-dark);
}

.nav-link-dot {
    color: var(--off-yellow-light);
}

#location-data {
    width: 30%;
    height: 100%;
    font-weight: 600;
}

#time-data, #weather-data {
    font-weight: 500;
}

#time-data {
    color: var(--off-yellow-dark);
}

#weather-data {
    color: var(--off-yellow-dark);
    padding-bottom: .25rem; /* to align with time-data due to the degree symbol */
}

#main-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-wrapper {
    font-family: var(--Inter);
    margin: 100px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#quote {
    font-family: inherit;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    line-height: 1.1;
    max-width: 25ch;
}

#author {
    font-family: var(--Inter);
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff99;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 1rem;
}

footer {
    height: auto;
    padding: 1rem 0;
    overflow: hidden;
    font-family: var(--Inter);
    font-size: clamp(0.8rem, 1vw, 1rem);
    background-color: #0d1116;
    color: var(--off-yellow-dark);
}

#scroll-down-container {
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

@keyframes scroll-up-and-down {
    100% {
        bottom: 50px;
    }

    0% {
        bottom: 10px;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes freeze {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

#scroll-down-icon {
    width: auto;
    height: auto;
    fill: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scroll-up-and-down 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0.5;
    left: calc(50% - 16px);
    position: absolute;
    cursor: pointer;
    pointer-events: all;
}

@keyframes prompt-down {
    100% {
        bottom: 0;
    }

    0% {
        bottom: 10px;
    }
}

#scroll-down-icon:hover {
    cursor: pointer;
    pointer-events: all;
    fill: rgba(255, 255, 255, 0.5);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.5rem;
    width: auto;
    height: auto;
    text-decoration: 0.1rem underline dashed #fff;
    --webkit-text-decoration: 0.1rem underline dashed #fff;
    animation: freeze 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    animation-iteration-count: infinite;
}

/* #################### Main Page  #################### */

button, .button, .skill .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Mona);
    width: 200px;
    height: 50px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1rem 2rem;
    background-color: transparent;
    color: var(--accent-color);
    border: solid 2px var(--accent-color);
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.primary-button {
    color: var(--link-color);
}

.secondary-button {
    color: var(--accent-color);
    background-color: hsl(18, 10%, 1%);
}


button:hover, .button:hover, .skill .button:hover {
    cursor: pointer;
    pointer-events: all;
    background-color: var(--accent-color);
    color: #fff;
}


/*#cta-btn, button {*/
/*    font-family: var(--Inter);*/
/*    min-width: 160px;*/
/*    width: 300px;*/
/*    font-size: 1rem;*/
/*    transition: all 0.3s ease-in-out;*/
/*    -webkit-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    padding: 1rem 2rem;*/
/*    background-color: var(--accent-color);*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    border: solid 2px rgba(0, 0, 0, 0.1);*/
/*    text-align: center;*/
/*    text-transform: capitalize;*/
/*}*/

/*.secondary-button {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    width: auto;*/
/*    margin: 1rem auto;*/
/*}*/

/*.secondary-button:hover {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    transition: none;*/
/*    animation: none;*/
/*}*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/*#cta-btn:hover,*/
/*#cta-btn:focus,*/
/*#cta-btn:active,*/
/*button:hover,*/
/*button:focus,*/
/*button:active {*/
/*    cursor: pointer;*/
/*    pointer-events: all;*/
/*    outline: none;*/
/*    background-color: #fff;*/
/*    color: var(--accent-color);*/
/*    transition: all 0.3s ease-in-out;*/
/*    animation: pulse 0.5s;*/
/*}*/

#main-page {
    font-family: var(--Hubot);
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    color: cadetblue;
}

#hero-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 4rem;
    background-color: var(--dark-blue);
}

#heading-1 {
    font-family: Hubot-Sans, sans-serif;
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.1;
    font-weight: 700;
    color: var(--perano);
    display: inline-block;
    width: 32ch;
    margin: 1rem 0 2rem 0;
    text-align: left;
}

.heading-2 {
    font-family: var(--Mona);
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    font-weight: 700;
    margin: 2rem auto;
    line-height: 1;
}

.heading-3 {
    font-family: var(--Mona);
    font-size: clamp(1.5rem, 1.5vw, 1.7rem);
    font-weight: 600;
    color: #000;
    line-height: 1;
    margin: 1rem auto 1.5rem auto;
}

#hero-wrapper .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-wrapper .wrapper .heading-2 {
    margin: 1.2rem 0;
    color: var(--accent-color);
}

#skills-wrapper {
    margin: 0;
    padding: 2rem 0;
    background-color: #fff;
}

#passion {
    color: #d01253;
}

#products {
    color: #c05af2;
}

#services {
    color: #f7b500;
}

#empower {
    color: #56a8f5;
}

#enrich {
    color: #2cc740;
}

#period {
    color: var(--accent-color);
}

#skills-categories {
    padding: 3rem 1rem;
    width: 100%;
    /*border: solid 1px red;*/
}

.skill {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    color: #000;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: min(400px, 100%);
}

@media screen and (max-width: 1231px) {
    .skill {
        flex-basis: min(600px, 100%);
    }
}

.skill a {
    font-family: var(--Inter);
    font-weight: 600;
    color: var(--accent-color);
    line-height: 1.2;
    margin: 1rem 0 2rem 0;
    border: solid 2px var(--accent-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.skill a:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--accent-color);
}


.skill p {
    flex-grow: 1;
    text-align: center;
}

#contact-wrapper {
    margin: 0;
    padding: 5rem 0;
    background-color: #f4f4f4;
}

#contact-wrapper .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-wrapper .wrapper .heading-2 {
    margin: 1.2rem 0;
    color: var(--accent-color);
}

#contact-wrapper .wrapper p {
    /*margin: 1.2rem 0;*/
    /*color: var(--dark);*/
    /*max-width: 70ch;*/
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 700px;
}

form p {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    text-align: left;
}

form input {
    margin: 0.5rem 0;
    padding: 1rem;
    width: 700px;
    font-size: 1.2rem;
}

form textarea {
    margin: 1rem 0;
    padding: 1rem;
    width: 700px;
    height: 300px;
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
    resize: none;
}

form input, form textarea {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    border: solid 0.07rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

form input:focus, form textarea:focus {
    outline: none;
    border: solid 3px var(--accent-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    /*background-color: #e8f0fe;*/
    font-weight: 500;

    /*    #f1f5f9 */
}

.filled {
    border: 4px solid var(--focus-color);
    font-weight: 500;
}

/*form button {*/
/*  margin: 1rem 0;*/
/*  padding: 1rem;*/
/*  width: 500px;*/
/*  font-size: 1.2rem;*/
/*  background-color: var(--accent-color);*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: .3rem;*/
/*}*/

#projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem 10%;
    background-color: #fff;
    overflow: hidden; /* for testing */
}

#projects-wrapper h2 {
    text-align: center;
}

#skills-wrapper h2, #skills-wrapper h3 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: 7em 0;*/
}

.flex-container section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 1rem;
    margin: .5rem;
    cursor: pointer;
    border-radius: 12px;
    height: 400px;
    width: 300px;
}

.flex-container section:hover {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.1s ease-in-out;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.flex-container section h2 {
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.flex-container section h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.flex-container section p {
    margin: 0;
}

.flex-container .date {
    flex-grow: 1;
}

.flex-container .lang {
    margin: 0;
    font-size: clamp(12px, .3vw, 26px);
    border: solid thin rgba(0, 0, 0, 0.1);
    padding: .3em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
