/* **************************************************************************

                           T H E M E      S T Y L E S

/* ************************************************************************* */
:root {
	/* Background */
  --dark-bg-color: brown;
  --light-bg-color: white;

  /* Text */
  --dark-text-color: #27282C;
  --dark-text-color: black;
  --light-text-color: #FFF;

  /* Borders */
  --dark-border-color: black;
  --light-border-color: white;
  --rounded-border: 12px;

  /* Shadows */
  --dark-shadow-color: black;
  --light-shadow-color: white;

  /* Highlight */
  --dark-highlight-color: black;
  --light-highlight-color: white;
  --dark-highlight-text-color: black;
  --light-highlight-text-color: white;
  --dark-highlight-border-color: black;
  --light-highlight-border-color: white;
  --dark-highlight-shadow-color: black;
  --light-highlight-shadow-color: white;

  /* Buttons */
  --primary-btn-bg-color: #2196F3;
  --primary-btn-text-color: white;
  --primary-btn-border-color: #2196F3;
  --primary-btn-shadow-color: #2196F3;
  --primary-btn-hover-bg-color: #64B5F6;
  --primary-btn-hover-text-color: white;
  --primary-btn-hover-border-color: #64B5F6;
  --primary-btn-hover-shadow-color: #64B5F6;
  --primary-btn-active-bg-color: #64B5F6;
  --primary-btn-active-text-color: white;
  --primary-btn-active-border-color: #64B5F6;
  --primary-btn-active-shadow-color: #64B5F6;
  --primary-btn-disabled-bg-color: #9E9E9E;
  --primary-btn-disabled-text-color: white;
  --primary-btn-disabled-border-color: #9E9E9E;
  --primary-btn-disabled-shadow-color: #9E9E9E;
  --primary-btn-disabled-hover-bg-color: #9E9E9E;
  --primary-btn-disabled-hover-text-color: white;
  --primary-btn-disabled-hover-border-color: #9E9E9E;
  --primary-btn-disabled-hover-shadow-color: #9E9E9E;
  --primary-btn-disabled-active-bg-color: #9E9E9E;
  --primary-btn-disabled-active-text-color: white;
  --primary-btn-disabled-active-border-color: #9E9E9E;
  --primary-btn-disabled-active-shadow-color: #9E9E9E;
  --primary-btn-disabled-focus-bg-color: #64B5F6;
  --primary-btn-disabled-focus-text-color: white;
  --primary-btn-disabled-focus-border-color: #64B5F6;
  --primary-btn-disabled-focus-shadow-color: #64B5F6;

  /* Links */
  --link-text-color: #2196F3;
  --link-hover-text-color: #64B5F6;
  --link-hover-border-color: #64B5F6;
  --link-hover-shadow-color: #64B5F6;
  --link-active-text-color: #64B5F6;
  --link-active-border-color: #64B5F6;
  --link-active-shadow-color: #64B5F6;
  --link-disabled-text-color: #9E9E9E;
  --link-disabled-hover-text-color: #9E9E9E;
  --link-disabled-hover-border-color: #9E9E9E;
  --link-disabled-hover-shadow-color: #9E9E9E;
  --link-disabled-active-text-color: #9E9E9E;
  --link-disabled-active-border-color: #9E9E9E;
  --link-disabled-active-shadow-color: #9E9E9E;
  --link-disabled-focus-text-color: #64B5F6;
  --link-disabled-focus-border-color: #64B5F6;
  --link-disabled-focus-shadow-color: #64B5F6;
  --link-disabled-hover-focus-text-color: #64B5F6;
  --link-disabled-hover-focus-border-color: #64B5F6;
  --link-disabled-hover-focus-shadow-color: #64B5F6;
  --link-disabled-active-focus-text-color: #64B5F6;
  --link-disabled-active-focus-border-color: #64B5F6;
  --link-disabled-active-focus-shadow-color: #64B5F6;
  --link-disabled-focus-hover-text-color: #64B5F6;
  --link-disabled-focus-hover-border-color: #64B5F6;
  --link-disabled-focus-hover-shadow-color: #64B5F6;
  --link-disabled-hover-active-text-color: #64B5F6;
  --link-disabled-hover-active-border-color: #64B5F6;
  --link-disabled-hover-active-shadow-color: #64B5F6;
  --link-disabled-active-focus-text-color: #64B5F6;
  --link-disabled-active-focus-border-color: #64B5F6;
  --link-disabled-active-focus-shadow-color: #64B5F6;
}



/* **************************************************************************

                           M A I N     S T Y L E S H E E T

/* ************************************************************************* */


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	color: #27282C;
}

header {
	margin: 0;
	padding: 0 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 5vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #27282C;
	position: fixed;
	top: 0;
}

header nav {
	display: none;
}

main {
	margin: 5vh 0 0 0;
	padding: 0;
	width: 100%;
	min-height: 90vh;
}

#about {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1em;
	text-align: left;
	border: solid thin rgb(225, 225, 225);
	background-color: #EFF5F9;
}

#about h1 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.42857143;
	margin: 50px 0 10px 0;
	padding: 0;
	text-align: left;
}

#contact {
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 1em;
	text-align: left;
	border: solid thin rgb(225, 225, 225);
	background-color: rgb(225, 225, 225);
}

#about a {
	/* font-weight: 700; */
	/* transition: 5s; */
}

#about a:hover {
	color: rgb(44, 7, 207);
}

#about #date {
	/* position: absolute; */
	/* top: 50px; */
	/* right: 100px; */
	font-size: 14px;
	font-weight: 500;
	line-height: 1.42857143;
}

#projects-wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 1em;
	text-align: left;
}

#projects-wrapper h1 {
	text-align: center;
}



#projects-wrapper h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 0 0 0.5em 0;
}

header nav ul li a {
	/* color: #27282C; */
	/* font-family: 'Varela Round', sans-serif; */
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* color: #C8C8C8; */
	line-height: 1.42857143;
	text-decoration: none;
	cursor: pointer;
	pointer-events: all;
	padding: 0 20px;
}

header a:hover {
	color: #FFF;
	/* font-weight: bold; */
}

header nav ul li a.active {
	color: #FFF;
	font-weight: 700;
}

header a:visited {
	color: #FFF;
}

header svg {
	cursor: pointer;
	pointer-events: all;
	fill: #FFF;
}

header svg:hover {
	cursor: pointer;
	pointer-events: all;
	fill: #FFF;
}

#logo-box {
	min-width: fit-content;
	height: 40px;
	/* margin-left: 20%; */
}

#logo-box:hover #site-title{
	/* color: #FFF; */
}


#logo {
	width: 45px;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

#site-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
	/* color: #C8C8C8; */
	text-decoration: none;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	cursor: pointer;
	pointer-events: all;
}

#site-title:hover {
	/* color: #FFF; */
}

#menu-icon-box {
	/* display: none; */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	text-align: left;
}

footer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(200, 200, 200);
	color: #27282C;
	min-height: 5vh;
}

footer p #username {
	font-weight: bold;
	padding-left: 10px;
	/* margin-left: 10px; */
}

footer #heart {
	color: rgb(255, 0, 0);
}

footer #username {
	border-left: solid thin #C8C8C855;
}

footer:hover #username {
	border-left: none;
}

#project-box {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	overflow: hidden;
}

#project-box div {
	border: solid thin #ccc;
	border-radius: 5px;
	margin: 5px;
	width: 300px;
	height: 200px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	/* background-color: #fff; */
}

.active {
	/* color: #FFF; */
	font-weight: 800;
}

button, .button {
	font-family: 'Varela Round', sans-serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	cursor: pointer;
	pointer-events: all;
	text-transform: uppercase;
	text-transform: capitalize;
	font-weight: 700;
    background-color: #0071E3;
	color: #FFF;
    padding: .5em 1em;
    border: solid thin rgba(0,0,0,.1);
    border-radius: .3em;
    text-shadow: 0 -.03em .03em rgba(0,0,0,.5);
    outline: none;
}

button:hover, .button:hover {
	background-color: #0080fffb;
}



#signature {
	font-family: 'Tangerine', serif;
    font-size: 30px;
	font-weight: 500;
	word-spacing: -.2em;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
	padding: 5em 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: auto;
}

form h1 {
    text-align: center;
	font-size: 1.5em;
	font-weight: 500;
}

input, textarea {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
	font-weight: 400;
	line-height: 1.42857143;
    padding: 1rem;
	height: 3em;
	width: 100%;
	margin-bottom: .5em;
	border: solid 1px rgba(96, 93, 102, 0.5);
	border-radius: .3em;
	background-color: rgb(245, 245, 245);
}

form input {
    text-transform: capitalize;
    text-overflow: ellipsis;
}

form input::placeholder, form select::placeholder, form textarea::placeholder {
	text-align: left;
    color: rgb(150,150,150);
	font-weight: 400;
}

form input:focus, form select option:focus, form textarea:focus {
	border: solid 3px #0071E3;
	border-radius: .3em;
	background-color: #fff;
}

form input[type="text"]:last-child {
	font-weight: 500;
}

form textarea {
    direction: ltr;
    resize: none;
    line-height: 1.5;
	padding: 1rem;
	height: 3em;
	margin-bottom: 3em;
	min-height: 200px;
}

form input[type="email"] {
	text-transform: lowercase;
}

form input[type="email"]::placeholder {
	text-transform: capitalize;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* PROJECTS CSS */



.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: flex-start;
	align-items: space-between;
	max-width: 1200px;
}

.projects-container a {
	text-decoration: none;
	color: #000;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
	margin: .5rem;
	cursor: pointer;
	border-radius: 12px;
	height: 300px;
	width: 200px;
}

section:hover {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

section h3 {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	padding-bottom: .5rem;
	margin-bottom: .5rem;
}
